*.suo
*.user
_ReSharper.*
__pycache__
bin
obj
build
packages
tmp
.vs
Mods/SocketAPI/SDKandExamples/Python/.env
Mods/ShowPosition/ShowPositionPlugin/BepInEx.dll
Mods/ShowPosition/ShowPositionPlugin/Bouncyrock.BouncePackage.Runtime.dll
Mods/ShowPosition/ShowPositionPlugin/Bouncyrock.TaleSpire.3rdParty.Runtime.dll
Mods/ShowPosition/ShowPositionPlugin/Bouncyrock.TaleSpire.AssetManagement.dll
Mods/ShowPosition/ShowPositionPlugin/Bouncyrock.TaleSpire.BounceTools.Runtime.dll
Mods/ShowPosition/ShowPositionPlugin/Bouncyrock.TaleSpire.DataModel.Runtime.dll
Mods/ShowPosition/ShowPositionPlugin/Bouncyrock.TaleSpire.Runtime.dll
Mods/ShowPosition/ShowPositionPlugin/Newtonsoft.Json.dll
Mods/ShowPosition/ShowPositionPlugin/Unity.Mathematics.dll
Mods/ShowPosition/ShowPositionPlugin/Unity.Postprocessing.Runtime.dll
Mods/ShowPosition/ShowPositionPlugin/Unity.TextMeshPro.dll
Mods/ShowPosition/ShowPositionPlugin/UnityEngine.CoreModule.dll
Mods/ShowPosition/ShowPositionPlugin/UnityEngine.dll
Mods/ShowPosition/ShowPositionPlugin/UnityEngine.InputLegacyModule.dll
Mods/ShowPosition/ShowPositionPlugin/UnityEngine.PhysicsModule.dll
Mods/ShowPosition/ShowPositionPlugin/UnityEngine.UI.dll
